<?xml version="1.0" encoding="UTF-8" ?>
<!-- mybatis配置 -->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="lazyLoadingEnabled" value="false" />
        <setting name="cacheEnabled" value="false" />
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
    <typeAliases>
        <!-- 扫描实体类所在的包 -->
        <package name="com.user.demo.entity" />
        <!-- 如果有多个包，如vo，dto等，都可以直接在下面添加 -->
        <!--<package name="com.demo.web.vo" />-->
    </typeAliases>
</configuration>
